@charset 'utf-8';

/*----- 共通パーツ -----*/
body {
  color: #222;
  font-size: 1.11vw;
  font-family: "M PLUS 1", "Oooh Baby", "Train One", "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  line-height: 1.5;
  background-color: #edeade;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  transition: 0.4s;
}

a:hover {
  opacity: 0.2;
}

/* コンテンツ幅 */
.wrapper_xl {
  margin-right: auto;
  margin-left: auto;
  max-width: 1280px;
  /* 100%では画面サイズをちぢめたときに横の余白が全くないので少し余白を入れるために90％くらいにする */
  width: 90%;
}

.wrapper_l {
  margin-right: auto;
  margin-left: auto;
  max-width: 1160px;
  width: 90%;
}

.wrapper_m {
  margin-right: auto;
  margin-left: auto;
  max-width: 1040px;
  width: 90%;
}

.wrapper_s {
  margin-right: auto;
  margin-left: auto;
  max-width: 880px;
  width: 90%;
}

/* ボタン */
.button {
  display: inline-block;
  padding: 16px 120px 16px;
  border: 1px solid #222222;
  background-color: #fff;
}

.button_area {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

/*------ ヘッダー ------*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0;
}

.header_logo {
  width: 368px;
  height: auto;
}

.header_nav {
  display: flex;
  align-items: center;
}

.header_nav ul {
  display: flex;
  font-family: "Noto Sans JP";
  font-weight: bold;
}

.header_nav li {
  color: #5b3e12;
  margin-left: 60px;
}

/*-----フッター-----*/
.footer {
  background-color: #123c64;
  margin-top: 160px;
  padding: 110px 0 70px;
}

.footer_list {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer_list li {
  color: #fff;
  font-weight: 700;
  font-size: 1.25vw;
}

.footer_logo_area {
  display: flex;
  justify-content: center;
  margin-top: 140px;
}

.footer_logo {
  width: 368px;
  height: auto;
}

.footer_company {
  text-align: center;
  color: #fff;
}

.footer_address_area {
  display: flex;
  justify-content: center;
  margin-top: 31px;
}

.footer_address {
  color: #fff;
}

/*------レスポンシブ対応-----*/

@media (max-width: 768px) {
}
