@charset 'utf-8';

/*----- 共通パーツ -----*/
body {
  color: #222;
  font-family: "M PLUS 1", "Oooh Baby", "Train One", "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  line-height: 1.5;
  background-color: #edeade;
}

img {
  max-width: 100%;
  height: auto;
}

/* コンテンツ幅 */
.wrapper_xl {
  margin-right: auto;
  margin-left: auto;
  max-width: 88.89vw;
  /* 100%では画面サイズをちぢめたときに横の余白が全くないので少し余白を入れるために90％くらいにする */
  width: 90%;
}

.wrapper_l {
  margin-right: auto;
  margin-left: auto;
  max-width: 80.56vw;
  width: 90%;
}

.wrapper_m {
  margin-right: auto;
  margin-left: auto;
  max-width: 72.22vw;
  width: 90%;
}

.wrapper_s {
  margin-right: auto;
  margin-left: auto;
  max-width: 61.11vw;
  width: 90%;
}

/* ボタン */
.button_area {
  display: flex;
  justify-content: center;
}

.button {
  display: inline-block;
  padding: 2.99vw 9.44vw;
  background-color: #b57e2d;
  font-weight: 700;
  font-size: 1.39vw;
  line-height: 1;
  color: #fff;
  border-radius: 3.47vw;
  font-family: "M PLUS 1";

  margin-top: 7.57vw;
  margin-bottom: 6.6vw;

  transition: 0.6s;
}

.button:hover {
  background-color: #ffb649;
}

/*------ ヘッダー ------*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.972vw 0;
}

.header_nav ul {
  display: flex;
  font-family: "Noto Sans JP";
  font-weight: bold;
  color: #5b3e12;
}

.header_nav li {
  margin-left: 4.16vw;
  transition: 0.6s;
}

.header_nav li:hover {
  color: #61cb90;
}

.header_logo {
  width: 25.56vw;
  height: auto;
}

.nav_button {
  display: none;
}

.nav_reserve_button_area {
  display: none;
}

/*-------------------- 予約ボタン---------------------*/
.reserve_button_area {
  position: fixed;
  z-index: 9;
  right: 5%;
  bottom: 12%;
}

.text_circle {
  width: 135px; /*文字サークルの大きさ*/
  animation: rotateIt 10s linear infinite; /*文字サークルの回転の速さ*/
}

@keyframes rotateIt {
  to {
    transform: rotate(-360deg);
  }
}

.text_circle text {
  font-size: 42.5px;
  fill: #fff; /*文字の色*/
}

.text_circle textPath {
  letter-spacing: -2px; /*文字の余白*/
}

.reserve_circle {
  position: absolute;
  text-align: center;
  background: #b57e2d;
  width: 97px;
  height: 97px;
  border-radius: 50%;
  bottom: 17.5%;
  right: 13.8%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.6s;
}

.reserve_circle:hover {
  background: #ffb649;
}

.reserve_text {
  color: #fff;
  font-family: "M PLUS 1";
  font-size: 16px;
}

.reserve_image {
  margin-top: 10px;
}

/*-----フッター-----*/
.footer {
  background-color: #123c64;
  margin-top: 11.11vw;
  padding: 7.639vw 0 4.861vw;
}

.footer_list {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer_list li {
  color: #fff;
  font-family: "M PLUS 1";
  font-weight: 700;
  font-size: 1.25vw;
  transition: 0.6s;
}

.footer_list li:hover {
  color: #ffb649;
}

.footer_logo_area {
  display: flex;
  justify-content: center;
  margin-top: 11.32vw;
}

.footer_logo {
  width: 25.56vw;
  height: auto;
}

.footer_company {
  text-align: center;
  color: #fff;
}

.footer_address_area {
  display: flex;
  justify-content: center;
  margin-top: 2.153vw;
}

.footer_address {
  color: #fff;
}

/*------------------------------------------------------*/
/*////////////////////レスポンシブ対応///////////////////*/
/*------------------------------------------------------*/

@media (max-width: 768px) {
  /* ----------共通パーツ---------- */
  .button {
    font-size: 16px;
    padding: 37px 67px;
    border-radius: 44.5px;
    margin-top: 85px;
    margin-bottom: 80px;
  }

  /* ----------ヘッダー---------- */

  .header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
    background-color: #edeade;
    padding: 0 5%;
  }

  .header.wrapper_xl {
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    width: 100%;
  }

  .header_logo {
    width: 179px;
    height: auto;
    margin: 8.8vw 0;
  }

  .header_nav ul {
    position: fixed;
    z-index: 11;
    top: 27vw;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100%;
    font-size: 15px;
    color: #fff;
    background-color: #123c64;
    gap: 60px;
    padding-top: 60px;

    transition: 0.4s;
    transform: translateX(100%);
  }

  .nav_open .header_nav ul {
    transform: translateX(0);
  }

  .header_nav li {
    margin-left: 0;
  }

  .nav_button {
    position: relative;
    z-index: 12;
    display: block;
    width: 65px;
    height: 65px;
    background-image: url(../image/sp_image/nav-open.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .nav_open .nav_button {
    background-image: url(../image/sp_image/nav-close.svg);
  }

  .nav_reserve_button_area {
    display: flex;
    justify-content: center;

    padding: 28px 37px;
    background-color: #b57e2d;
    font-weight: 700;
    font-size: 15px;
    line-height: 1;
    color: #fff;
    border-radius: 60px;
  }

  .nav_reserve_button_icon {
    width: 17.2px;
    height: 17.2px;
  }

  .nav_reserve_button {
    display: inline-block;
    font-family: "M PLUS 1";
    transition: 0.6s;
    margin-left: 8px;
  }

  /*-------------------- 予約ボタン---------------------*/
  .reserve_button_area {
    right: 3vw;
    bottom: 3vw;
  }

  .text_circle {
    width: 110px; /*文字サークルの大きさ*/
  }

  .text_circle textPath {
    letter-spacing: -2px; /*文字の余白*/
  }

  .reserve_circle {
    width: 79.78px;
    height: 79.78px;
  }

  .reserve_text {
    font-size: 15px;
  }

  .reserve_image {
    margin-top: 5px;
  }

  /*--------------------footer--------------------*/
  .footer {
    padding-top: 0;
    margin-top: 80px;
  }

  .footer_inner.wrapper_l {
    width: 100%;
    min-width: 100%;
  }

  .footer_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .footer_list li {
    width: 50vw;
    font-size: 13px;
    padding: 26px;
    text-align: center;
    border-bottom: #fff solid 0.5px;
    /* 改行回避 */
    white-space: nowrap;
  }

  .footer_list li:nth-child(2) {
    border-left: #fff solid 0.5px;
  }

  .footer_list li:nth-child(4) {
    border-left: #fff solid 0.5px;
  }

  .footer_list li:nth-child(6) {
    border-left: #fff solid 0.5px;
  }

  .footer_list a {
    color: white;
    text-decoration: none;
  }

  .footer_logo {
    width: 190px;
  }

  .footer_company {
    font-size: 13px;
  }

  .footer_address {
    font-size: 14px;
    width: 90%;
  }
}
