@charset 'utf-8';

/*----- 共通パーツ -----*/
body {
  color: #222;
  font-family: "M PLUS 1", "Oooh Baby", "Train One", "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  line-height: 1.5;
  background-color: #edeade;
}

img {
  max-width: 100%;
  height: auto;
}

/* コンテンツ幅 */
.wrapper_xl {
  margin-right: auto;
  margin-left: auto;
  max-width: 88.89vw;
  /* 100%では画面サイズをちぢめたときに横の余白が全くないので少し余白を入れるために90％くらいにする */
  width: 90%;
}

.wrapper_l {
  margin-right: auto;
  margin-left: auto;
  max-width: 80.56vw;
  width: 90%;
}

.wrapper_m {
  margin-right: auto;
  margin-left: auto;
  max-width: 72.22vw;
  width: 90%;
}

.wrapper_s {
  margin-right: auto;
  margin-left: auto;
  max-width: 61.11vw;
  width: 90%;
}

/* ボタン */
.button_area {
  display: flex;
  justify-content: center;
}

.button {
  display: inline-block;
  padding: 2.99vw 9.44vw;
  background-color: #b57e2d;
  font-weight: 700;
  font-size: 1.39vw;
  line-height: 1;
  color: #fff;
  border-radius: 3.47vw;
  font-family: "M PLUS 1";

  margin-top: 7.57vw;
  margin-bottom: 6.6vw;

  transition: 0.4s;
}

.button:hover {
  opacity: 0.2;
}

/*------ ヘッダー ------*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.972vw 0;
}

.header_logo {
  width: 25.56vw;
  height: auto;
}

.header_nav {
  display: flex;
  align-items: center;
}

.header_nav ul {
  display: flex;
  font-family: "Noto Sans JP";
  font-weight: bold;
}

.header_nav li {
  color: #5b3e12;
  margin-left: 4.16vw;
}

/*-----フッター-----*/
.footer {
  background-color: #123c64;
  margin-top: 11.11vw;
  padding: 7.639vw 0 4.861vw;
}

.footer_list {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer_list li {
  color: #fff;
  font-weight: 700;
  font-size: 1.25vw;
}

.footer_logo_area {
  display: flex;
  justify-content: center;
  margin-top: 11.32vw;
}

.footer_logo {
  width: 25.56vw;
  height: auto;
}

.footer_company {
  text-align: center;
  color: #fff;
}

.footer_address_area {
  display: flex;
  justify-content: center;
  margin-top: 2.153vw;
}

.footer_address {
  color: #fff;
}

/*------レスポンシブ対応-----*/

@media (max-width: 768px) {
}
