@charset 'utf-8';

/*-------------------- くるくる【いったん保留】---------------------*/
.reserve_button_area {
  position: fixed;
  z-index: 99;
  right: 5%;
  bottom: 3%;
}

.text_circle {
  width: 150px; /*文字サークルの大きさ*/
  animation: rotateIt 10s linear infinite; /*文字サークルの回転の速さ*/
}

@keyframes rotateIt {
  to {
    transform: rotate(-360deg);
  }
}

.text_circle text {
  font-size: 24px;
  fill: #fff; /*文字の色*/
}

.text_circle textPath {
  letter-spacing: 15px; /*文字の余白*/
}

.reserve_circle {
  position: absolute;
  text-align: center;
  background: #b57e2d;
  width: 97px;
  height: 97px;
  border-radius: 50%;
  bottom: 20%;
  right: 17%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reserve_text {
  color: #fff;
  font-family: "M PLUS 1";
  font-size: 16px;
}

.reserve_image {
  margin-top: 10px;
}

/*-----メインビジュアル-----*/
.mv_area {
  position: relative;
}

.mv_image {
  width: 100%;
}

.mv_text {
  font-family: "M PLUS 1";
  font-weight: 300;
  font-size: 1.528vw;
  color: #fff;

  position: absolute;
  bottom: 12%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.mv_title {
  font-family: "Train One";
  font-size: 6.25vw;
  color: #fff;
  line-height: 1;

  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%) translateY(0);

  /* 改行回避 */
  white-space: nowrap;
}

/*-----３つ並び写真-----*/
.photos_container {
  display: flex;
}

.photos_box02 {
  margin-top: 40px;
}

/*-----feature-----*/
.feature_title_area {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feature_image {
  width: 60%;
  height: auto;
}

.feature_title {
  position: absolute;
  bottom: 14%;

  text-align: center;
  color: #fff;
  font-size: 2.78vw;
  font-weight: 700;
}

.feature_blue {
  position: absolute;

  bottom: -20%;
}

.feature_container {
  background-color: #123c64;
  display: flex;
}

.feature_box {
  width: auto;
  height: 300px;
}

/*------レスポンシブ対応-----*/

@media (max-width: 768px) {
}
