@charset 'utf-8';

/*-------------------- くるくる【いったん保留】---------------------*/
.reserve_button_area {
  position: fixed;
  z-index: 99;
  right: 5%;
  bottom: 3%;
}

.text_circle {
  width: 150px; /*文字サークルの大きさ*/
  animation: rotateIt 10s linear infinite; /*文字サークルの回転の速さ*/
}

@keyframes rotateIt {
  to {
    transform: rotate(-360deg);
  }
}

.text_circle text {
  font-size: 24px;
  fill: #fff; /*文字の色*/
}

.text_circle textPath {
  letter-spacing: 15px; /*文字の余白*/
}

.reserve_circle {
  position: absolute;
  text-align: center;
  background: #b57e2d;
  width: 97px;
  height: 97px;
  border-radius: 50%;
  bottom: 20%;
  right: 17%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reserve_text {
  color: #fff;
  font-family: "M PLUS 1";
  font-size: 16px;
}

.reserve_image {
  margin-top: 10px;
}

/*-----メインビジュアル-----*/
.mv_area {
  position: relative;
}

.mv_image {
  width: 100%;
}

.mv_text {
  font-family: "M PLUS 1";
  font-weight: 300;
  font-size: 1.528vw;
  color: #fff;

  position: absolute;
  bottom: 12%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.mv_title {
  font-family: "Train One";
  font-size: 6.25vw;
  color: #fff;
  line-height: 1;

  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%) translateY(0);

  /* 改行回避 */
  white-space: nowrap;
}

/*-----３つ並び写真-----*/
.photos_container {
  display: flex;
}

.photos_box02 {
  margin-top: 40px;
}

/*-----feature-----*/
.feature_contents_area {
  background-color: #123c64;
}

.feature_title_area {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feature_title_image {
  width: 60%;
  height: auto;
}

.feature_title {
  position: absolute;
  bottom: 14%;

  text-align: center;
  color: #fff;
  font-size: 2.78vw;
  font-weight: 700;
}

.feature_blue {
  width: 100%;
  position: absolute;

  bottom: -20%;
}

.feature_container {
  background-color: #123c64;
  display: flex;
  justify-content: space-between;
}

.feature_box {
  margin-top: 80px;
  width: 30%;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative; /* 疑似要素の基準点 */
}

/* 要素間の白線*/
.feature_box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 107%; /* だいたいできめた */
  width: 1px;
  height: 105%;
  background-color: #ffffff; /* 線の色 */
}

/* 最後の要素のみ非表示*/
.feature_box:last-child::after {
  display: none;
}

.feature_number {
  font-family: "Oooh Baby";
  font-size: 4.028vw;
  font-weight: 400;
  color: #fff;
  line-height: 1;
}

.feature_subtitle {
  margin-top: 30px;

  font-size: 2.083vw;
  font-weight: 700;
  color: #fff;
  line-height: 1;
}

.feature_text {
  margin-top: 35px;

  width: 90%;

  font-size: 1.25vw;
  font-weight: 400;
  color: #fff;
  line-height: 1.8;
}

.feature_box:nth-child(1) .feature_text {
  padding-bottom: 1.8em; /* 1行分の高さを追加(1番目) */
}

.feature_image_area {
  margin-top: 6px;

  width: 22vw; /* ビューポート幅の22%に設定 */
  aspect-ratio: 1 / 1; /* 常に1:1の比率を維持 */
}

.feature_image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: #fff solid 1.04vw;

  margin-top: 28px;
}

.feature_link {
  margin-top: 65px;

  font-size: 1.389vw;
  font-weight: 700;
  font-family: "M PLUS 1";
  color: #fff;
  line-height: 1;

  position: relative;
  padding-right: 20px; /* 矢印のためのスペース */

  transition: color 0.4s;
}

/*下線の形状*/
.feature_link::before {
  content: "";
  position: absolute;
  right: 0;
  top: 140%;

  width: 180px;
  height: 2px;
  background: #fff;
  transition: background-color 0.4s;
}

/*矢印の形状*/
.feature_link::after {
  content: "";
  position: absolute;
  right: 1%;
  top: 145%;
  width: 15px;
  height: 15px;
  border-top: 2px solid #fff;

  transform: translateY(-50%) rotate(45deg); /* 45度回転して矢印の形に */
  transition: border-color 0.4s;
}

.feature_link:hover {
  color: #f0ca91;
}

.feature_link:hover::before {
  background-color: #f0ca91; /* 下線の色を変更 */
}

.feature_link:hover::after {
  border-color: #f0ca91; /* 矢印の色を変更 */
}

/*------item-----*/

.item {
  position: relative;

  /* 仮 */
  height: 1320px;
}

.item_road {
  position: absolute;
  top: -5%;
  right: 20%;
  z-index: -999;

  width: 40%;
  height: auto;
}

.item_haikingman {
  position: absolute;
  top: 3%;
  right: 28%;

  width: 7%;
  height: auto;
}

.item_tree {
  position: absolute;
  top: 0%;
  right: 13%;

  width: 10%;
  height: auto;
}

.item_grass {
  position: absolute;
}

.item_title {
  position: absolute;
  top: 40%;
  right: 20%;

  font-family: "M PLUS 1";
  font-size: 2.083vw;
  color: #fff;
  font-weight: 700;
}

.item_text {
  position: absolute;
  top: 50%;
  right: 20%;

  width: 300px;

  font-family: "M PLUS 1";
  font-size: 1.25vw;
  color: #fff;
  font-weight: 400;
}

.item .button_area {
  position: absolute;
  top: 60%;
  right: 20%;
}

/*------access-----*/
.access {
  height: 1150px;
  background-color: #a9a097;
}

.access_title {
  font-family: "M PLUS 1";
  font-size: 2.083vw;
  color: #fff;
  font-weight: 700;
}

/*------contact-----*/
.contact {
  height: 850px;
  background-color: #123c64;
}

.contact_title {
  font-family: "M PLUS 1";
  font-size: 2.083vw;
  color: #fff;
  font-weight: 700;
}

/*------about-----*/
.about {
  margin-top: 200px;
  height: 750px;
  background-color: #fff;
}

/*------レスポンシブ対応-----*/

@media (max-width: 768px) {
}
