@charset 'utf-8';

/*-------------------- くるくる【いったん保留】---------------------*/
.reserve_button_area {
  position: fixed;
  z-index: 99;
  right: 5%;
  bottom: 3%;
}

.text_circle {
  width: 150px; /*文字サークルの大きさ*/
  animation: rotateIt 10s linear infinite; /*文字サークルの回転の速さ*/
}

@keyframes rotateIt {
  to {
    transform: rotate(-360deg);
  }
}

.text_circle text {
  font-size: 24px;
  fill: #fff; /*文字の色*/
}

.text_circle textPath {
  letter-spacing: 15px; /*文字の余白*/
}

.reserve_circle {
  position: absolute;
  width: 97px;
  height: 97px;
  border-radius: 50%;
  background: #b57e2d;
  bottom: 20%;
  right: 17%;
}

.reserve_content {
  position: fixed;
  text-align: center;
  z-index: 9999;
  bottom: 9%;
  right: 7.9%;
}

.reserve_text {
  color: #fff;
  font-family: "M PLUS 1";
}

.reserve_image {
  margin-top: 10px;
}

/*-----メインビジュアル-----*/
.mv_area {
  position: relative;
}

.mv_image {
  width: 100%;
}

.mv_text {
  font-family: "M PLUS 1";
  font-weight: 300;
  font-size: 22px;
  color: #fff;

  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.mv_title {
  font-family: "Train One";
  font-size: 90px;
  color: #fff;
  line-height: 90px;

  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%) translateY(3%);

  /* 改行回避 */
  white-space: nowrap;
}

/*-----３つ並び写真-----*/
.photos_container {
  display: flex;
}

.photos_box02 {
  margin-top: 40px;
}

/*-----feature-----*/
.feature_title_area {
  background-image: url(../image/mountain.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  height: 913px;
}

.feature_title_area {
  text-align: center;
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  padding-top: 400px;
}

/*------レスポンシブ対応-----*/

@media (max-width: 768px) {
}
