@charset 'utf-8';

/*--------------------メインビジュアル(pc)--------------------*/

/* スライドショーのCSS 
参考サイト：https://qiita.com/sengoku/items/987a684ac0174c8186a6*/
.slide img {
  width: inherit;
  height: inherit;
  margin: 0;
  padding: 0;
  border: none;
}

.slide {
  white-space: nowrap;
  width: 100%;

  overflow: hidden;
}

.slide > :first-child {
  animation-name: slide;
  animation-duration: 20s; /* アニメーション全体を15秒にする */
  animation-delay: 0s; /*止まる時間  */
  animation-iteration-count: infinite; /* 永遠にアニメーションする */
}

@keyframes slide {
  0% {
    margin-left: 0;
  }
  33% {
    margin-left: -100%;
  }
  66% {
    margin-left: -200%;
  }
  100% {
    margin-left: -300%;
  }
}

.mv_area {
  margin: auto;
  position: relative;
}

.mv_text {
  font-family: "M PLUS 1";
  font-weight: 300;
  font-size: 1.528vw;
  color: #fff;
  z-index: 100;

  position: absolute;
  bottom: 12%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  /* 改行回避 */
  white-space: nowrap;
}

.mv_title {
  font-family: "Train One";
  font-size: 6.25vw;
  color: #fff;
  line-height: 1;

  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%) translateY(0);
  z-index: 100;

  /* 改行回避 */
  white-space: nowrap;
}

/* sp版非表示 */
.sp_mv_area {
  display: none;
}

/*--------------------３つ並び写真--------------------*/
.photos_container {
  display: flex;
}

.photos_box02 {
  margin-top: 2.77vw;
}

/*--------------------feature--------------------*/
.feature {
  position: relative;
  background-color: #123c64;
  margin-top: 25vw;
}

.feature_title_image_area {
  background-color: #edeade;
}

.feature_title_image {
  position: absolute;
  top: -30%;
  left: 17%;
  width: 63%;
  height: auto;

  /* pictureの対策 */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.feature_title {
  position: absolute;
  top: -12%;
  left: 34%;

  color: #fff;
  font-size: 2.77vw;
  font-weight: 700;
}

.feature_blue {
  width: 100%;
  position: absolute;
  top: -5%;
  left: 0%;
}

.feature_container {
  background-color: #123c64;
  display: flex;
  justify-content: space-between;
}

.feature_box {
  margin-top: 2vw;
  width: 30%;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative; /* 疑似要素の基準点 */
}

/* 要素間の白線*/
.feature_box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 107%; /* だいたいできめた */
  width: 1px;
  height: 105%;
  background-color: #ffffff; /* 線の色 */
}

/* 最後の要素のみ非表示*/
.feature_box:last-child::after {
  display: none;
}

.feature_number {
  font-family: "Oooh Baby";
  font-size: 4.028vw;
  font-weight: 400;
  color: #fff;
  line-height: 1;
}

.feature_subtitle {
  margin-top: 2.083vw;

  font-size: 2.083vw;
  font-weight: 700;
  color: #fff;
  line-height: 1;
}

.feature_text {
  margin-top: 2.43vw;

  width: 90%;

  font-size: 1.25vw;
  font-weight: 400;
  color: #fff;
  line-height: 1.8;
}

.feature_box:nth-child(1) .feature_text {
  padding-bottom: 1.8em; /* 1行分の高さを追加(1番目) */
}

.feature_image_area {
  margin-top: 0.417vw;

  width: 22vw; /* ビューポート幅の22%に設定 */
  height: auto;
  aspect-ratio: 1 / 1; /* 常に1:1の比率を維持 */
}

.feature_image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: #fff solid 1.04vw;

  margin-top: 1.944vw;
}

.feature_box:nth-child(3) .feature_image {
  object-position: 10%; /* わんちゃんだけ */
}

.feature_link {
  margin-top: 4.513vw;

  font-size: 1.389vw;
  font-weight: 700;
  font-family: "M PLUS 1";
  color: #fff;
  line-height: 1;

  position: relative;
  padding-right: 1.388vw; /* 矢印のためのスペース */

  transition: color 0.4s;
}

/*下線の形状*/
.feature_link::before {
  content: "";
  position: absolute;
  right: 0;
  top: 142%;

  width: 12.8vw;
  height: 0.1vw;
  background: #fff;
  transition: background-color 0.4s;
}

.feature_box:nth-child(2) .feature_link::before {
  width: 19.5vw;
}

.feature_box:nth-child(3) .feature_link::before {
  width: 18.3vw;
}

/*矢印の形状*/
.feature_link::after {
  content: "";
  position: absolute;
  right: 1%;
  top: 145%;
  width: 1.042vw;
  height: 1.042vw;
  border-top: 0.139vw solid #fff;

  transform: translateY(-50%) rotate(45deg); /* 45度回転して矢印の形に */
  transition: border-color 0.4s;
}

.feature_link:hover {
  color: #61cb90;
}

.feature_link:hover::before {
  background-color: #61cb90; /* 下線の色を変更 */
}

.feature_link:hover::after {
  border-color: #61cb90; /* 矢印の色を変更 */
}

/*--------------------item--------------------*/

.item {
  position: relative;

  height: 91.66vw;
}

.item_road {
  position: absolute;
  top: -45%;
  right: 10%;
  z-index: -999;

  width: 50%;
  height: auto;
}

.item_haikingman {
  position: absolute;
  top: -30%;
  right: 20%;

  width: 7%;
  height: auto;
}

.item_tree {
  position: absolute;
  top: -34%;
  right: 3.5%;

  width: 12%;
  height: auto;
}

.item_grass {
  position: absolute;
  z-index: -999;

  top: -22%;
}

.item_container {
  display: flex;
  gap: 5.902vw;
  justify-content: center;
  margin-top: 31.4vw;
}

.item_image_area {
  width: 33vw;
  aspect-ratio: 1 / 1; /* 常に1:1の比率を維持 */
}

.item_image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: 80%;
  border: #fff solid 1.04vw;
}

.item_title {
  width: 100%;
  margin-top: 2vw;
  font-family: "M PLUS 1";
  font-size: 2.083vw;
  color: #fff;
  font-weight: 700;
  text-align: center;
}

.item_text {
  width: 29.93vw;
  margin-top: 4.861vw;
  margin-right: auto;
  margin-left: auto;

  font-family: "M PLUS 1";
  font-size: 1.25vw;
  color: #fff;
  font-weight: 400;
  line-height: 1.8;
}

.item .button {
  padding: 1.875vw 6.18vw;
  font-weight: 700;
  font-size: 1.39vw;
  border-radius: 3.47vw;

  margin-top: 5.83vw;
}

.item_hiking {
  position: absolute;
  top: 30%;
  right: 45%;

  width: 20%;
  height: auto;
}

/*--------------------access--------------------*/
.access {
  position: relative;

  height: 79.86vw;
  background-color: #a9a097;
}

.access_graypath {
  position: absolute;
  top: -19.7%;
  width: 100%;
}

.access_car {
  position: absolute;
  top: -35%;
  left: 10%;

  width: 26%;
  height: auto;
}

.access_sign {
  position: absolute;
  top: -30%;
  left: 1%;

  width: 12%;
  height: auto;
}

.access_smoke {
  position: absolute;
  top: -17%;
  left: 35%;

  width: 22%;
  height: auto;
}

.access_title {
  font-family: "M PLUS 1";
  font-size: 2.083vw;
  color: #fff;
  font-weight: 700;

  text-align: center;
}

.access_container {
  margin: 0 auto;
}

.access_box01 {
  display: flex;
  justify-content: space-between;

  margin-top: 100px;
}

.access_map {
  width: 52.7%;
  height: 309px;
}

.access_map iframe {
  display: block;
  width: 100%;
  height: 100%;
}

.access_info_area {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 45%;
  gap: 10px;
  margin-left: 28px;
}

.access_info {
  color: #fff;
  font-weight: 400;
  font-family: "M PLUS 1";
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.access_info_label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19.6%;
  height: 38px;
  background-color: #3c7d5a;
  border-radius: 10px;
  font-size: 18px;
}

.access_info_text {
  width: 80%;
  color: #fff;
  font-size: 18px;
  display: flex;
  align-items: center;
  margin-left: 7px;
}

.access_info_text.px-14 {
  font-size: 14px;
}

/* route */
.access_box02 {
  margin-top: 98px;
  width: 100%;
  height: auto;
}

.access_subtitle {
  color: #fff;
  font-weight: 400;
}

.access_route {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.access_route_left {
  width: 32%;
  height: 110px;
  text-align: center;
  background-color: #3c7d5a;
  font-family: "M PLUS 1";
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.access_route_label {
  display: inline-block;
  color: #3c7d5a;
  background-color: #fff;
  border-radius: 18px;
  font-size: 18px;
  padding: 2px 28px;
}

.access_route_text {
  color: #fff;
  font-size: 18px;
}

.access_route_arrow {
  width: 36%;
  text-align: center;
  font-family: "M PLUS 1";
  font-weight: 400;
}

.access_route_minute {
  font-size: 18px;
}

.access_route_line {
  color: #5b3e12;
  background-color: #fff;
  height: 38px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 40px;
}

.access_route_right {
  width: 32%;
  height: 110px;
  text-align: center;
  background-color: #3c7d5a;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.access_route_logo {
  width: 73%;
  height: auto;
}

.access_hyogo {
  margin-top: 60px;
  width: 100%;
  height: auto;
}

.acccess_route_container {
  display: flex;
  width: 100%;
  height: auto;
}

.access_route_box01 {
  width: 68%;
}

.access_route .hyogo {
  width: 100%;
}

.access_route_left .hyogo {
  width: 47%;
}

.access_route_arrow .hyogo {
  width: 53%;
}

.access_route_box02 {
  width: 32%;
  height: auto;
  text-align: center;
  background-color: #3c7d5a;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*--------------------contact--------------------*/
.contact {
  position: relative;
  margin-top: 32.99vw;

  height: 60.416vw;
  background-color: #123c64;
}

.contact_starrysky {
  position: absolute;
  top: -31%;

  width: 100%;
}

.contact_title {
  font-family: "M PLUS 1";
  font-size: 2.083vw;
  color: #fff;
  font-weight: 700;

  text-align: center;
}

.contact_circle {
  position: absolute;
  text-align: center;
  background: #b57e2d;
  width: 17.29vw;
  height: 17.29vw;
  border-radius: 50%;
  z-index: 100;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.contact_link:hover {
  cursor: pointer;
}

.contact_text {
  color: #fff;
  font-family: "M PLUS 1";
  font-size: 1.25vw;
}

.contact_icon {
  margin-top: 10px;
  width: 50px;
  height: auto;
}

.contact_icon.hatena {
  width: 30px;
  height: auto;
}

.contact_phonenumber {
  color: #fff;
  font-family: "M PLUS 1";
  font-size: 1.25vw;
}

.contact_receptiontime {
  color: #fff;
  font-family: "M PLUS 1";
  font-size: 0.9vw;
  margin-top: 10px;
}

.contact_circle_area .contact_circle:nth-child(1) {
  top: 10%;
  left: 42%;
}

/* 右の線 */
.contact_circle_area .contact_circle:nth-child(1)::before {
  content: "";
  position: absolute;
  left: 80%;
  top: 65%;
  width: 22vw; /* 線の長さ */
  height: 1.84px; /* 線の太さ */
  background-color: #b57e2d; /* 線の色 */
  transform: rotate(28deg); /* 回転角度 */
  transform-origin: left top; /* 回転の基準点 */
}

.contact_circle_area .contact_circle:nth-child(2) {
  top: 25%;
  left: 15%;

  z-index: 1000;
}

/* 左上の線 */
.contact_circle_area .contact_circle:nth-child(2)::before {
  content: "";
  position: absolute;
  left: 170%;
  top: 0%;
  width: 19vw; /* 線の長さ */
  height: 1.84px; /* 線の太さ */
  background-color: #b57e2d; /* 線の色 */
  transform: rotate(155deg); /* 回転角度 */
  transform-origin: left top; /* 回転の基準点 */
}

.contact_circle_area .contact_circle:nth-child(3) {
  top: 37.5%;
  right: 13%;
}

/* 下の線 */
.contact_circle_area .contact_circle:nth-child(3)::before {
  content: "";
  position: absolute;
  left: -250%;
  top: 20%;
  width: 45vw; /* 線の長さ */
  height: 1.84px; /* 線の太さ */
  background-color: #b57e2d; /* 線の色 */
  transform: rotate(7deg); /* 回転角度 */
  transform-origin: left top; /* 回転の基準点 */
}

.contact_starwatching {
  position: absolute;
  top: 46.5%;
  left: 0%;

  width: 100%;
  height: auto;
}

/*--------------------about--------------------*/
.about {
  position: relative;

  margin-top: 13.89vw;
  height: 52.08vw;
  background-color: #fff;
  background-image: url(../image/about_image.png);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 70% auto;
}

.about_sun {
  position: absolute;
  top: -3%;
  left: 2%;

  width: 20%;
  height: auto;
}

.about_container {
  width: 100%;
  height: 100%;
  padding-left: 9.375vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about_title {
  width: 27.08vw;

  color: #b57e2d;
  font-family: "M PLUS 1";
  font-size: 2.083vw;
  font-weight: 700;
  line-height: 1.5;
}

.about_text {
  width: 37.29vw;
  margin-top: 2.083vw;

  color: #b57e2d;
  font-family: "M PLUS 1";
  font-size: 1.25vw;
  font-weight: 400;
  line-height: 1.8;
}

.about_mountain {
  position: absolute;
  bottom: 0%;
  left: 2%;

  width: 30%;
  height: auto;
}

/*------------------------------------------------------*/
/*////////////////////レスポンシブ対応///////////////////*/
/*------------------------------------------------------*/

@media (max-width: 768px) {
  /*-------------------- メインビジュアル---------------------*/

  /* sp版表示 */
  .sp_mv_area {
    display: block;
    margin: auto;
    position: relative;
  }

  /* PC版表示 */
  .mv_area {
    display: none;
  }

  .mv_text {
    font-size: 15px;
    bottom: 56%;
    left: 50%;
  }

  .mv_title {
    font-size: 40px;
    bottom: 50%;
    left: 50%;
  }

  /* --------------------３つ並び写真(SP)-------------------- */

  /* スマホでは非表示 */
  .photos {
    display: none;
  }

  /* PCでは非表示 */
  .sp_photos_wrapper {
    display: flex;
  }

  /* スライダー全体 */
  .sp_photos_wrapper {
    display: flex; /* スライドのグループを横並び */
    overflow: hidden; /* はみ出たスライドを隠す */
  }
  /* スライド3枚のグループ */
  .sp_photos {
    animation: scroll-left 10s infinite linear 0.5s both;
    display: flex; /* スライド3枚を横並び */
  }
  /* スライド */
  .sp_photos_slide {
    width: calc(100vw / 1.5); /* 3はスライドの枚数 */
  }
  /* スライドの画像 */
  .sp_photos_slide img {
    width: 100%;
  }
  /* CSSアニメーション */
  @keyframes scroll-left {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  /* スライドの動き等速 */
  /* 参考サイト：https://junpei-sugiyama.com/swiper-loop/ */
  .swiper-wrapper {
    transition-timing-function: linear;
  }

  /*--------------------feature--------------------*/

  .feature {
    margin-top: 55vw;
  }

  .feature_title_image {
    top: -33%;
    left: 0%;
    z-index: -1;
    width: 100%;
    height: auto;
  }

  .feature_title {
    font-size: 5.33vw;
    top: -12%;
    left: 20%;
  }

  .feature_blue {
    top: -6%;
    left: 0%;
  }

  .feature_container {
    display: flex;
    flex-direction: column;
  }
}

/* PCでは非表示(なぜかここに書かないとうまくいかない) */
@media (min-width: 769px) {
  .sp_photos_wrapper {
    display: none;
  }
}
